/*
 *= require header
 *= require search
 *= require artists
 *= require concerts
 *= require modal
 *= require registers
 */

 @import "bootstrap";

body {
  background: #0F1419 !important;
  font-family: system-ui;
}

.title {
  font-size: 19px !important;
  letter-spacing: 1px;
  color: white;
}

.widget-content {
  padding: 30px 70px;
  
}

.section-box {
  padding: 20px 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  background: #1e2731;  
  color: white;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
  border: 1px solid #40556d;
}

a,
a:visited,
a:link,
a:active {
  color: inherit;
  text-decoration: none;
  border: 1px solid transparent;
}

a:hover {
  color: #00c3ff;
}

.hover-border:hover {
  border-color: #00c3ff;
}

.hover-border-icon:hover .link_icon,
.link_icon.active {
  border-color: #00c3ff;
  background:#51485a; 
}

.rectangle_icon {
  width: 200px;
  height: 150px;
  background: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #40556d;
}

.diary_icon {
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid #40556d;
}

.small_rectangle_icon {
  width: 100px;
  height: 50px;
  background: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #40556d;
}

.small_vertical_rectangle {
  width: 80px;
  height: 100px;
  background: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #40556d;
  margin-left: -18px;
}

.small_vertical_rectangle:first-child {
  margin-left: 0;
}

.form-columns {
    display: grid;
    grid-template-columns: 1fr auto;
    color: white;
    gap: 10px;
}

.icon {
  width: 50px;
  height: 50px;
  background: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.circle_icon {
  width: 200px;
  height: 200px;
  background: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.user_icon {
  width: 120px;
  height: 120px;
  background: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #cecfd1;
}

.link_icon {
  width: 45px;
  height: 45px;
  background: #1f2731;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #2c3744;
}

.rectangle_img, img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

 
.separator {
  height: 1px;
  background: #40556d;
}

.title_section {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  color: #a4b3c4;
}

.undecored_link {
  text-decoration: none;
  color: rgb(204, 193, 180);
}

/*
* BOTÓN
*/

.btn-custom-orange,
.btn-standard,
.btn-standard-orange,
.btn-custom {
  background: #3a485a;
  color: white !important;
  border: none;
  border-radius: 25px;
  padding: 10px 18px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  height: auto;
  padding-bottom: 8px;
  padding-top: 8px;
  width: auto;
}

.btn-custom-orange::after,
.btn-custom::after {
  content: "›";
  font-size: 18px;
  font-weight: 700;
}

.btn-custom-orange,
.btn-standard-orange {
  background: #eb5d25;
}

.small-btn-custom {
  justify-self: start;
  width: fit-content;
  background: #5c5768;
  color: rgb(226, 211, 211);
  border-radius: 7px;
  padding: 7px 12px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  margin-bottom: 10px;
}

.footer {
  height: 100px;
}

.field-custom {
  height: 40px;
  width: 100%;
  background: rgb(53, 53, 70); 
  border: 1px solid rgb(87, 87, 124);
  color: white; 
  border-radius: 10px;
  padding: 10px;
}

.soft-color {
  color: #a4b3c4;
}

.softest-color {
  color: #5a626b;
}

.bubble {
  display: inline-block;
  background: #0F1419;
  color: white; 
  border-radius: 15px; 
  font-size:15px; 
  border: 2px solid #40556d;
  padding: 1px 10px;
}

/*
* ERRORES AL GUARDAR MODELO
*/
.form-errors {
  background: #3b1518;
  border: 1px solid #d64b4b;
  color: #ffe7e7;
  border-radius: 12px;
  padding: 14px 18px;
}


.flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.flex-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, 190px);
  gap: 9px;
  align-items: start;
}

.four-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: start;
}

.stat {
  flex: 1;
  text-align: center;
}

.stat .number {
    color: #ffe7e7;
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.stat .name {
    color: #5a626b; 
    font-size: 15px;
    text-transform: uppercase;
    
}

.button-without-format {
  background: none;
  color:white;
  border: none;
}