body {
  background: #72778C;
  /* 16192E; */
}

.widget-content .section-box {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 15px;
  margin-top: 15px;
  background: #fff;
}

.widget-content .section-box h3 {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
}

.widget-content .items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.widget-content .item-user,
.widget-content .item-artist,
.widget-content .item-concert {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
}

.widget-content .item-user {
  background: #FFB731;
}

.widget-content .item-artist {
  background: #FE962D;
}

.widget-content .item-concert {
  background: #FD5A25;
}


