
.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}

.three-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: start;
}

.big-second-column{
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: white;
    gap: 30px;
}

.big-second-column > div:last-child {
  min-height: 100%;
}

.artist-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: white;
}

.artist-info  {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 25px;
}

.artist-name {
    font-size: 28px;
    font-weight: 600;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.artists-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
}

.artists-index{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}