
.custom_modal {
    background: #0F1419;
    color: white;
    border-radius: 15px;
    border: 1px solid #40556d;
    width: 800px;
}

.custom_modal::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.modal_header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border-bottom: 1px solid #406d40;
}

.modal_close {
  background: none;
  border: none;
  padding: 4px;
  color: #444;
}

.modal_body {
  padding: 20px;
}

