.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 25px 0;
}

.pagination a,
.pagination span {
  min-width: 34px;
  height: 34px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 7px;
  font-size: 14px;
  color: var(--soft-color);
  border: 1px solid var(--second-text-color);
}

.pagination a:hover {
  color: var(--main-text-color);
  background: var(--event);
  border-color: var(--event);
}

.pagination .current {
  color: var(--main-text-color);
  background: var(--event);
  border-color: var(--event);
  font-weight: bold;
}

