.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 25px 0;
}

.pagination a,
.pagination span {
  min-width: 34px;
  height: 34px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 7px;
  font-size: 14px;
  color: #a4b3c4;
  border: 1px solid #40556d;
}

.pagination a:hover {
  color: white;
  background: #8926b8;
  border-color: #8926b8;
}

.pagination .current {
  color: white;
  background: #8926b8;
  border-color: #8926b8;
  font-weight: bold;
}

