/* form */

.form-modal {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.form-modal-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* index */

.registers-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register_user {
  border-radius: 15px;
  display: grid;
  grid-template-columns: 0.1fr 0.5fr 4fr ;
  gap: 20px;
  padding: 15px 15px;
  font-size: 18px;
  text-align: left;
  color: white;
}

.item-register {
  border-radius: 15px;
  border: 1px solid #40556d;
  background: #161e25;
  display: grid;
  grid-template-columns: 0.3fr 1fr 4fr 1fr auto;
  gap: 20px;
  padding: 15px 15px;
  font-size: 18px;
  text-align: left;
  align-items: center;
  color: white;
}

.diary-obj {
  display: grid;
  grid-template-columns: 0.3fr auto 3fr 1fr ;
  gap: 20px;
  padding: 0px 15px;
  font-size: 18px;
  text-align: left;
  align-items: center;
  color: white;
}

.diary-link {
  margin: 2px;
  display: block;
  color: inherit;
  text-decoration: none;
  border-radius: 12px;
  transition: background-color .2s ease;
}

.diary-link:hover {
  background-color: #263241;
}

.item-register > div:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.diary_register_icon {
  width: 100px;
  height: 150px;
  background: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* show */

.register-show {
  display: grid;
  grid-template-columns: auto 3fr 1fr;
  color: rgb(196, 195, 216);
  gap: 30px;
  align-items: start;
}

/* index in other pages */

.review {
  padding: 8px 4px;
  gap: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.future_assistance{
  gap: 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.sent_at {
  border-radius: 15px; 
  border-top-left-radius: 0px; 
  border-top-right-radius:0px; 
  border: 1px solid #40556d; 
  border-top: 0px;
  background: #0F1419; 
  padding: 15px 15px; margin-left: 5px;
  font-size: 12px;
  color: #808891; 
}
