

.widget-content .items {
  display: flex;
  gap: 12px;
  overflow-x: auto;
}

.widget-content .item-name {
  width: 200px;
  padding: 8px 10px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  text-align: center;
  color: white;
  background: #ff4517;
}

.filters-search {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.filters-search label {
  display: block;
  margin-bottom: 5px;
}