

.items {
  display: flex;
  gap: 12px;
  overflow-x: auto;
}

.item-name {
   display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 42px;
  width: 200px;
  font-size: 13px;
  text-align: center;
  color: white;
  background: #40556d; 
  border: 2px solid #40556d;
  overflow-wrap: anywhere;
}

.filters-search {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  gap: 15px;
}

.filters-search label {
  display: block;
  margin-bottom: 5px;
}

/* Barra desplazaadora */

.items::-webkit-scrollbar {
  height: 10px;
}

.chat-container {
  flex: 1;
  min-height: 0;
  display: flex;
  overflow: hidden;
}

.chat {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

.items::-webkit-scrollbar {
  height: 10px;
}

.chat::-webkit-scrollbar {
  width: 10px;
}

/* Fondo de la barra */
::-webkit-scrollbar-track {
  background: #0F1419;
  border-radius: 10px;
}

/* Parte que se mueve */
::-webkit-scrollbar-thumb {
  background: #6f6e85;
  border-radius: 10px;
}

/* Al pasar el ratón */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}